@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar Animation */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Add the animation class to transition between states */
.transform {
    animation-fill-mode: both;
}

/* Optional: Add media query for smaller screens */
@media (max-width: 700px) {
    .transform {
        transform: translateX(-100%) !important;
    }
}